
{% extends 'blog/base.html' %}
{% block title %}
<title>注册</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="">
            <br>
            <form method="post" action="{% url 'blog:register' %}">
                {% csrf_token %}
                <!-- 账号 -->
                <div class="form-group " style="width: 300px;margin: auto">
                    <label for="username">昵称</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <!-- 邮箱 -->
                <div class="form-group "style="width: 300px;margin: auto">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <!-- 密码 -->
                <div class="form-group "style="width: 300px;margin: auto">
                    <label for="password">设置密码</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <!-- 确认密码 -->
                <div class="form-group "style="width: 300px;margin: auto">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                <a href="{% url 'blog:login1' %}" style="margin-left: 450px;color: #cd0000">已有账号？请登录</a>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary" style="margin-left: 110px">提交</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}